
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>포켓몬빵찾기</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


    <style>
        .login-and-out{
            margin: 0px 30px 70px 0px;
            text-align: right;
            align-items: revert;
        }

        .title{
            text-align: center;
            margin-bottom: 30px;
            font-weight: bold;
        }

        .mybtn{
            width: 550px;
            margin:50px auto 50px auto;
        }
    </style>

    <script>
       $(document).ready(function () {
            let userid = getCookie('user_id')
            if(userid != ""){
                loginSuccess();

            }
            listing();
        });

       //로그인 후 쿠키 가져오기
        function getCookie(name) {
            let nameOfCookie = name
            let x = 0;
            while (x <= document.cookie.length) {
                let y = (x + nameOfCookie.length);

                if (document.cookie.substring(x, y) == nameOfCookie) {
                    if ((endOfCookie = document.cookie.indexOf(";", y)) == -1)
                    endOfCookie = document.cookie.length;
                    return unescape(document.cookie.substring(y, endOfCookie));
                                    }

                x = document.cookie.indexOf(" ", x) + 1;
                if (x == 0)
                break;
            }
            return "";
          }
           //로그인-로그아웃 버튼 전환
        function loginSuccess() {
            $('#login-and-out').empty()
            let temp_html = `<a class="" href="login" id="logout" onclick="logout()">로그아웃</a>`
            $('#login-and-out').append(temp_html)
        }

       //전체조회
        function listing(){
            $('#cards-box').empty()
            $.ajax({
                type: "GET",
                url: "/poketmon",
                data: {},
                success: function (response) {
                    let rows = response['poketmons']
                    for (let i=0; i < rows.length; i++){
                        let img = rows[i]['image']
                        let name = rows[i]['name']
                        let store = rows[i]['store']
                        let stock = rows[i]['stock']
                        let temp_html = `<div class="card" style="width: 270px;">
                                              <img src="${img}" class="card-img-top" alt="빵이미지${i}번째">
                                              <div class="card-body">
                                                <h5 class="card-title">${name}</h5>
                                                <p class="card-text">${store} 재고 : ${stock} 개 </p>
                                              </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                    }
                }
            });
        }

        //검색조회
        function search(){

            let keyword = $('#keyword').val()
            if(keyword==''){
                alert('검색어를 입력하세요')
            }else{
                $('#cards-box').empty()
            }

            $.ajax({
                type: "GET",
                url: "/search",
                data: {},
                success: function (response) {
                    let rows = response['poketmon_list']
                    let count = 0;
                    for (let i=0; i < rows.length; i++){
                        let img = rows[i]['image']
                        let name = rows[i]['name']
                        let store = rows[i]['store']
                        let stock = rows[i]['stock']
                        if(name==keyword){
                            let temp_html = `<div class="card" id="${i}" style="width: 270px;">
                                              <img src="${img}" class="card-img-top" alt="빵이미지${i}번째">
                                              <div class="card-body reservation">
                                              <h5 class="card-title" id="bread-name">${name}</h5>
                                                <p class="card-text">${store} 재고 : ${stock} 개 </p>
                                              </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                        count += 1
                        }
                    }

                    if(count ==0){
                        alert('조회결과없음')
                        listing();

                    }

                }
            });
        }

         //예약하기버튼

        $('.reservation > button').click(function(e) {
            // var btnName =  $(this).getElementsByClassName('bread-name').val()
            let keyword = $('#keyword').val()

            alert(keyword)
        });

        function reservation(){
            alert(num)

                location.href='reservation'

              $.ajax({
                type: "POST",
                url: "/reservation",
                data: {},
                success: function (response) {
                console.log(response['msg'])
                }
            });
        }
        //로그아웃
        function logout(){
            //console.log("작동함")
            $.ajax({
                type: "GET",
                url: "/delcookie",
                data: {},
                success: function (response) {
                    alert(response['msg'])
                }
            })
        }
    </script>


</head>
<body>


    <nav class="nav nav-pills nav-fill">
        <a class="nav-link active" aria-current="page" href="index">포켓몬빵찾기</a>
        <a class="nav-link" href="reservation">예약하기</a>
        <a class="nav-link" href="reservation-list">예약조회</a>
        <a class="nav-link" href="ask" >문의하기</a>
    </nav>
    <div class="col">
        <div id="login-and-out col" class="login-and-out">
            <a class="" href="login" id="login">로그인</a>
            <a class="" href="signup">회원가입</a>
        </div>
    </div>

    <button onclick="logout()">로그아웃</button>


   <h1 class="title">내 주변 포켓몬빵을 찾고 예약해보세요</h1>
    <div class="mybtn">
        <input type="text" id="keyword">
        <button type="button" class="btn btn-dark" onclick="search()">포켓몬빵 검색</button>
        <button type="button" class="btn btn-outline-dark">등록(임시)</button>
    </div>
    <div id="cards-box" class="row row-cols-1 row-cols-md-4 g-4">
        <div class="card " style="width: 18rem;">
          <img src="..." class="card-img-top cards-box" alt="포켓몬빵이미지">
          <div class="card-body">
            <h5 class="card-title">포켓몬빵이름</h5>
            <p class="card-text">편의점정보</p>

          </div>
        </div>
    </div>
</body>
</html>