
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>포켓몬빵찾기</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            listing();
        });

        //전체조회
        function listing(){
            $('#cards-box').empty()
            $.ajax({
                type: "GET",
                url: "/poketmon",
                data: {},
                success: function (response) {

                    let rows = response['poketmons']
                    for (let i=0; i < rows.length; i++){
                        let img = rows[i]['image']
                        let name = rows[i]['name']
                        let store = rows[i]['store']
                        let stock = rows[i]['stock']
                        let num = i;
                        console.log(img, name, store)
                        let temp_html = `<div class="card" style="width: 270px;">
                                              <img src="${img}" class="card-img-top" alt="빵이미지${num}번째">
                                              <div class="card-body">
                                                <h5 class="card-title">${name}</h5>
                                                <p class="card-text">${store} 재고 : ${stock} 개 </p>
                                                <a href="#" class="btn btn-primary" onclick="reservation()">예약하기</a>
                                              </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                    }
                }
            });
        }

        //검색조회
        function search(){

            let keyword = $('#keyword').val()
            if(keyword==''){
                alert('검색어를 입력하세요')
            }else{
                alert('검색키워드: ' + keyword)
                $('#cards-box').empty()
            }

            $.ajax({
                type: "GET",
                url: "/search",
                data: {},
                success: function (response) {
                    let rows = response['poketmons']
                    let count = 0;
                    for (let i=0; i < rows.length; i++){
                        let img = rows[i]['image']
                        let name = rows[i]['name']
                        let store = rows[i]['store']
                        let stock = rows[i]['stock']
                        let num = i;

                        if(name==keyword){
                            count += 1
                            console.log(count)
                            let temp_html = `<div class="card" style="width: 270px;">
                                              <img src="${img}" class="card-img-top" alt="빵이미지${num}번째">
                                              <div class="card-body">
                                                <h5 class="card-title">${name}</h5
                                                <p class="card-text">${store} 재고 : ${stock} 개 </p>
                                                <a href="#" class="btn btn-primary" onclick="reservation()">예약하기</a>
                                              </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                        }
                    }

                    //왜 안되지???
                    if(count ==0){
                        alert('조회결과없음')
                        listing();

                    }

                }
            });
        }

        //예약하기버튼
        function reservation(){
            alert('예약할까요?')
              $.ajax({
                type: "POST",
                url: "/reservation",
                data: {},
                success: function (response) {
                console.log(response['msg'])
                }
            });
        }

    </script>


</head>
<body>
    <a class="" href="index.html">포켓몬빵찾기(사이트명)</a>
    <a class="" href="login.html">로그인</a>
    <a class="" href="signup.html">회원가입</a>

    <!-- 현준 -->
    <a class="" href="reservation-list">예약조회</a>


    <h1 class="title">내 주변 포켓몬빵을 찾고 예약해보세요</h1>
    <input type="text" id="keyword">
    <button type="button" class="btn btn-dark download-btn" onclick="search()">포켓몬빵 검색</button>

    <div id="cards-box" class="row row-cols-1 row-cols-md-4 g-4">
        <div class="card " style="width: 18rem;">
          <img src="..." class="card-img-top cards-box" alt="포켓몬빵이미지">
          <div class="card-body">
            <h5 class="card-title">포켓몬빵이름</h5>
            <p class="card-text">편의점정보</p>
              <button class="btn btn-primary" onclick="reservation()">예약하기</button>
              <button class="btn btn-primary" onclick="ask()">문의하기</button> <!--문의하기 버튼 만듬.-->
          </div>
        </div>
    </div>
</body>
</html>