<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>Pagination</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">






    <script>

             function cancelLike(post_id) {

            $.ajax({
                type: "POST",
                url: "/api/cancellike",
                data: {
                    click_give : post_id
                },
                success: function (response) {
                    window.location.reload()

                }
            });

        }


                     function clickLike(post_id) {

            $.ajax({
                type: "POST",
                url: "/api/clicklike",
                data: {
                    click_give : post_id
                },
                success: function (response) {
                    window.location.reload()
                }
            });

        }
    </script>
</head>
<body>

<!--        all_posts=all_posts,-->
<!--        total_count=total_count,-->
<!--        postsLimit=postsLimit,-->
<!--        nowPage_receive=nowPage_receive,-->
<!--        block_start=block_start,-->
<!--        block_last=block_last,-->
<!--        last_page=last_page-->


<!-- 글 띄울 때 사용자가 어떤글에 어떤글을 좋아요
눌렀는지 확인 후 꽉찬 하트 표시
A사용자의 5번글에 Likes가 1인지 뭘로 확인 ?

Likes DB ( 어떤 사용자가 어떤 포스트에 라이크를 눌렀는지 확인 )
아래와 같이 ? (좋아요를 빼면 아래 데 포스트 아이디 삭제 좋아요)
post_id를 배열로 다루기
id          post_id
A              1, 3
B              3


Post DB ( 게시글의 Likes가 몇인지만 확인 )
post_id      Likes
1               1
2               0
3               2





-->
{% if (total_count | string) | length != 0 %}
<table>
    <thead>
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>이름</td>
        <td>likes</td>
    </tr>
    </thead>
    <tbody>
    <!-- 반복되는 구간 -->
    {% for post in all_posts %}
    <tr>
        <!-- 게시물 순서대로 번호 부여하기 -->
        <!-- 아래 루프 인덱스 없애고 해당 게시글 db의 포스트번호 불러오기 -->
<!--        <td>{{loop.index + (nowPage_receive - 1) * postsLimit}}</td>-->
        <td>{{post.post_num}}</td>
        <td><a href="">{{post.crudtitle}}</a></td>
<!--        <td>{{post.name}}</td>-->
<!--        <td>{{post.view}}</td>-->

        {% set index = loop.index + (nowPage_receive - 1) * postsLimit %}

        {% if (likes_array | string) | length != 0 %}

        {% for like in likes_array %}
        {% if like == index %}
        <td>
            <button class="like" onclick="cancelLike('{{ post.post_num }}')">❤️</button>
        </td>
        {% endif %}
        {% endfor %}


        {% for like in likes_array %}

        {% if like == post.post_num %}
            {% break %}
        {% endif %}

        {% if ((like != post.post_num) and ( like == 0)): %}
        <td>
            <button class="like" onclick="clickLike('{{ post.post_num }}')">️🤍</button>
        </td>
        {% break %}
        {% endif %}
        {% endfor %}





        {% endif %}
    </tr>
    {% endfor %}
    <!-- 반복되는 구간 끝 -->
    </tbody>
    </table>


<nav aria-label="...">
    <ul class="pagination">

{% if block_start - 1 > 0 %}
    <li class="page-item">
      <a class="page-link" href="{{url_for('pagination', nowPage_give=block_start - 1)}}">Previous</a>
    </li>
        {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
{% endif %}

        {% for i in range(block_start, block_last + 1) %}
                <!-- 데이터가 존재하지 않는 페이지는 화면에 나타내지 않기 위한 조건문 -->
        {% if i > last_page %}

        {% else %}
            {% if i == nowPage_receive %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ i }}</a>
        </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{url_for('pagination', nowPage_give=i)}}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
{% endfor %}

{% if block_last < last_page %}
    <li class="page-item">
      <a class="page-link" href="{{url_for('pagination', nowPage_give=block_last + 1)}}">Next</a>
    </li>
        {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
    </li>
{% endif %}

  </ul>
</nav>

{% endif %}



</body>
</html>





