<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    .signUpBox {
        width: 95%;
        max-width: 500px;
        margin: 20px auto 0 auto;
        padding: 20px;
        box-shadow: 0 0 3px 0 gray;
    }


</style>

<script>



</script>

<body>
<div class="signUpBox">
    <h1>회원등록</h1>

    <p> ID: <input type="text" id="inputid"/> </p>
<!--    <button onclick="dupCheck()">중복확인</button> -->
    <p> PW: <input type="password" id="inputpw1" placeholder="비밀번호"/> </p>
    <p> PW확인: <input type="password" id="inputPw2" placeholder="비밀번호 확인."/> </p>
    <p> 닉네임: <input type="text" id="inputNick"/> </p>
    <p> 이메일: <input type="text" id="inputEmail"/> </p>

<!--        <button onclick="doubleCheck()">중복확인</button> -->
    <p> <button onclick="signUp()">등록하기</button>
        <button onclick="">취소</button> </p>
</div>
</body>
</html>