<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatibla" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <title>회원가입화면</title>
    <script>
        function signup(){
            let name = $('#name').val()
            let id = $('#id').val()
            let pwd = $('#pwd').val()
            let pwd_re = $('#pwd_re').val()
            if(pwd==pwd_re && $('#idcheck').val() == "check"){
                $.ajax({
                    type:"POST",
                    url:"/signup",
                    data:{"name_give":name,"id_give":id,"pwd_give":pwd},
                    success:function(response){
                        alert(response['msg'])
                        location.href='/login'
                    }
                })
            }else{
                alert("비밀번호가 다르거나 아이디중복확인이필요")
            }
        }

        function check_id(){
            let id = $('#id').val()
            $.ajax({
                type:"GET",
                url:"/idcheck",
                data:{},
                success:function(response){
                    let id_rows = response['id_list']
                    if(id_rows.length==0){
                        $('#idcheck').val("check")
                    }
                    for (let i = 0; i < id_rows.length; i++) {
                        if (id != id_rows[i]['id']) {
                            console.log(id)
                            console.log(id_rows[i])
                            $('#idcheck').val("check")
                            console.log($('#idcheck').val())
                        } else {
                            $('#idcheck').val("uncheck")
                            alert("동일한 아이디가 있습니다")
                            break;
                        }
                    }
                    if($('#idcheck').val() == "check"){
                        alert("사용가능합니다")
                    }


                }
            })
        }
    </script>
</head>
<body>
    <h1>회원가입화면입니다</h1>

    <p>이름:<input id="name" type="text"></p>
    <p>아이디:<input id="id" type="text"><button onclick="check_id()">아이디중복확인</button>
    <input type="hidden" id="idcheck" value="uncheck"</p>
    <p>비밀번호   :<input id="pwd" type="password"></p>
    <p>비밀번호확인:<input id="pwd_re" type="password"></p>
    <button onclick="signup()">가입하기</button>


</body>
</html>