<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="popup_cont">
                <h5> 회원정보 </h5>
                <div class="input-container" id="info-box">
                    <p> ID <input type="text" class="form-control" id="inputID" placeholder="ID" readonly="readonly"/>
                    </p>
                    <p> 닉네임 <input type="text" class="form-control" id="inputNick" placeholder="닉네임"/>
                    </p>
                    <p> 이메일 <input type="email" class="form-control" id="inputEmail" placeholder="example@email.com"/>
                    </p>
                </div>
                <div class="popup_btn" style="float: bottom; margin-top: 200px;">
                    <p><button onclick="javascript:editInfo();" type="button" class="btn btn-outline-success">수정</button>
                        <button onclick="javascript:closePop();" type="button" class="btn btn-outline-success">닫기</button>
                    </p>
                </div>

            </div>

<script>
    function editInfo(nick) {
        $.ajax({
            type: "GET",
            url: "/users"+nick,
            data: {},
            success: function (response) {
                let rows = response['info']
                for (let i = 0; i < rows.length; i++) {
                    let id = rows[i]['id']
                    let nick = rows[i]['nick']
                    let email = rows[i]['email']


                    let temp_html = ``
                    temp_html = `<p> ID <input type="text" class="form-control" id="inputID}" placeholder="${id}" readonly="readonly"/>
                    </p>
                    <p> 닉네임 <input type="text" class="form-control" id="inputNick" placeholder="${nick}"/>
                    </p>
                    <p> 이메일 <input type="email" class="form-control" id="inputEmail" placeholder="${email}"/>
                    </p>`
                    $('#info-box').append(temp_html)

                }
            }
            });
    }
</script>

</body>
</html>